/* Import Google font - Poppins */


/* отзывы */

.koguvcavis-varazdel {
    padding: 38px 0;
    /* background: var(--bg-color); */
    color: var(--accent-color);
    text-align: center;
    margin-top: 1em;
}

.sestim-donials {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}


.sagestim-lonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1em;
}

.vemotau-vokusipol {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #ffffff9a;
    padding: 28px;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.gecedanam {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.apogered-gselected {
    color: #53b32b;
    margin-bottom: 20px;
}

@media screen and (max-width:960px) {
    .vemotau-vokusipol {
        flex: 100%;
        max-width: 80%;
    }
}

@media screen and (max-width:600px) {
    .vemotau-vokusipol {
        flex: 100%;
        max-width: 100%;
    }
}

.social {
    display: inline-block;
}

.social a {
    display: block;
    width: 48px;
    height: 48px;
    margin: 0 10px 10px 0;
    text-align: center;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.social a:hover {
    border-color: #888;
    opacity: .8;
}

.social svg {
    margin-top: 7px;
    width: 32px;
    height: 32px;
}

.instagram a {
    background: #3f729b
}

.telegram a {
    background: #249bd7
}

.k a {
    background: #4a76a8
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection {
    color: #fff;
    background: var(--ff-color);
    border: 2px var(--blue-color);
}

form :where(i,
p) {
    color: var(--w-color);
    border: 2px var(--blue-color);
}

form i {
    font-size: 50px;
}

form p {
    margin-top: 15px;
    font-size: 16px;
}

.content_upload {
    justify-content: center;
    align-items: center;
}

section .row {
    margin-bottom: 10px;
    list-style: none;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .row i {
    color: var(--accent-color);
    font-size: 30px;
}

section .details span {
    font-size: 16px;
    background-color: var(--accent-color);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}


/* Кнопка */

p {
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1.6;
}

h4 {
    font-size: 16px;
    color: var(--accent-color);
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1.6;
}

.lol {
    color: var(--blue-color);
}

.button {
    height: 60px;
    overflow: visible;
    background: var(--accent-color);
    border-bottom: 0;
    font-weight: var(--font-weight-semibold);
    font-size: 17px;
    color: var(--blue-color);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 5px 0 #640c13;
    padding: 1em 0;
    text-align: center;
    position: relative;
    justify-content: center;
    cursor: pointer;
    display: flex;
    /* border: 2px solid var(--accent-color); */
}

.button:hover {
    background-color: #aa1521;
}

.button:active {
    box-shadow: none;
    top: 5px;
    background-color: #aa1521;
    color: var(--flat-color);
}

.content_toggle:hover {
    background-color: #8a101a;
    color: var(--flat-color);
}

.content_toggle:active {
    box-shadow: none;
    background-color: #aa1521;
    color: var(--flat-color)
}

.content_block {
    height: 120px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid #aa1521;
    ;
    color: var(--accent-color);
}


/* скроллбар */

* {
    scrollbar-width: thin;
}

*::-webkit-scrollbar {
    height: 16px;
    width: 16px;
}

*::-webkit-scrollbar-track {
    background-color: white;
    margin-top: auto;
}

*::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    height: 200px;
    background-size: contain;
    overflow: auto;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--w-color)
}

*::-webkit-scrollbar-thumb:active {
    background: var(--w-color);
}


/* Buttons */

::-webkit-scrollbar-button:single-button {
    background-color: var(--blue-color);
    display: block;
    border-style: solid;
    height: 16px;
    width: 16px;
}

::-webkit-scrollbar-button:single-button:hover {
    background-color: #000000;
}

::-webkit-scrollbar-button:single-button:active {
    background-color: var(--w-color);
}


/* Up */

::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent var(--bg-color) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent var(--bg-color) transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    border-color: transparent transparent #4c197c transparent;
}


/* Down */

::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 8px 8px 4px 8px;
    border-color: var(--blue-color) transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: var(--bg-color) transparent transparent transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment:active {
    border-color: transparent transparent var(--w-color) transparent;
}

.train {
    color: var(--w-color)
}

.map {
    display: block;
    height: 600px;
    loading: lazy;
    referrerpolicy: no-referrer-when-downgrade;
}

.center {
    top: 50%;
    left: 50%;
    width: 600px;
    background: var(--blue-color);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}

.center h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.center form {
    padding: 20px 40px;
    box-sizing: border-box;
}

form .txt_field {
    position: relative;
    border-bottom: 2px solid var(--accent-color);
    margin: 40px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 50px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: var(--blue-color);
    transition: .5s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -10px;
    color: var(--accent-color);
    font-size: 18px;
}

.txt_field input:focus~span::before,
.txt_field input:valid~span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

button[type="submit"] {
    width: 100%;
    height: 60px;
    border-radius: 5px;
    border-color: var(--accent-color);
    background: var(--accent-color);
    font-size: 18px;
    color: var(--blue-color);
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

button[type="submit"]:hover {
    border-color: var(--accent-color);
    transition: .5s;
    background-color: var(--w-color);
}

}
@media (max-width: 990px) {
    .logo {
    display: none;
    }
}

@media (max-width: 768px) {
    .logo {
    display: none;
    }
}

@media (max-width: 576px) {
    .logo {
    display: none;
    }
}


/* TREners// */
.treners {
    top: 60px;
    left: calc(50% - 300px);
  }
  
  .info {
    display: flex;
    width: 400px;
    background: linear-gradient(300deg, rgb(33, 20, 146) 0%, rgba(42, 62, 126, 0.884) 46%, rgba(90, 135, 231, 0.651) 100%);
    border-radius: 10px;
    box-shadow: 0.5rem 0.5rem 3em rgba(4, 0, 255, 0.281);
    transition: 0.6s ease-out;
    position: relative;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .info:not(:first-child) {
      margin-left: -50px;
  }
  
  .info:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
    
  .title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .card-group {
    justify-content: center;
  }
 
  .doc {
    color: var(--w-color);
    margin: 0 0 20px 0; 
    padding: 0 5px 0 5px; 
    line-height: 2; 
    width: 210px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(182, 100, 100, 0.445);
  }
  .doc:hover {
    background-color: rgb(184, 77, 77);
    color: white;


  }

  @media (max-width: 990px) {
    .info {
    max-width: 90%;
    max-height: 90%;
    }
}

@media (max-width: 768px) {
    .info {
    max-width: 85%;
    max-height: 85%;
    }
}

@media (max-width: 576px) {
    .info {
    max-width: 80%;
    max-height: 80%;
    }

  @media (max-width: 990px) {
    #necessary {
    justify-content: center;
    }
}

@media (max-width: 768px) {
    #necessary {
    justify-content: center;
    }
}

@media (max-width: 576px) {
    #necessary {
    justify-content: center;
    }
}

#news {
    margin-top: 2em;
    width: 400px;
    height: 300px;
    display:flex;
    margin-left: auto;
    margin-right: auto;

}

@media (max-width: 990px) {
    #news {
    max-width: 90%;
    max-height: 90%;
    }
}

@media (max-width: 768px) {
    #news {
    max-width: 85%;
    max-height: 85%;
    }
}

@media (max-width: 576px) {
    #news {
    max-width: 80%;
    max-height: 80%;
    }

.item {
 position: relative;
 display: block;
}
