<!doctype html>
<html lang="en">

<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Путь к себе - Cпортивный клуб</title>
    <link rel="icon" href="/static/images/putb.svg" sizes="64x64">

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/css/bootstrap-icons.css" rel="stylesheet">

    <link href="static/css/owl.carousel.min.css" rel="stylesheet">

    <link href="static/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="static/css/templatemo-medic-care.css" rel="stylesheet">

    <link rel="stylesheet" href="static/css/style.css">

</head>

<body id="top">

    <main>

        <nav class="navbar navbar-expand-lg bg-light fixed-top shadow-lg">
            <div class="container">

                <a class="navbar-brand mx-auto d-lg-none justify-content-center" href="#">
                        Путь к себе
                    </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                <div class="align-items-center collapse navbar-collapse" id="navbarNav">
                    <img src="static/images/bigp.svg" width="170" height="70">

                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#hero">Главная</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#reg">Регистрация</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">О нас</a>
                        </li>

                        <a class="navbar-brand d-none d-lg-block" href="#">

                            <div>Путь к себе</div>
                            <strong class="d-block">Cпортивно-развивающий клуб</strong>
                        </a>

                        <li class="nav-item">
                            <a class="nav-link" href="#section">Секции</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#reviews">Тренеры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Контакты</a>
                        </li>
                    </ul>
                    <svg width="170" height="70"> </svg>

                </div>

            </div>
        </nav>

        <section class="hero" id="hero">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div id="myCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/static/images/slider/1.png" class="img-fluid" alt="">
                                </div>

                                <div class="carousel-item">
                                    <img src="static/images/slider/2.png" class="img-fluid" alt="">
                                </div>

                                <div class="carousel-item">
                                    <img src="static/images/slider/3.png" class="img-fluid" alt="">
                                </div>

                            </div>
                        </div>

                        <div class="heroText d-flex flex-column justify-content-center">

                            <h1 class="mt-auto mb-2" style="color:var(--w-color)">
                                Занимаясь у нас Вы станете:
                                <div class="animated-info">
                                    <span class="animated-item">Сильнее</span>
                                    <span class="animated-item">Быстрее</span>
                                    <span class="animated-item">Счастливее</span>
                                </div>
                            </h1>

                            <p class="mb-4">«Найди себя и совершенствуйся с нами !».</p>

                            <div class="heroLinks d-flex flex-wrap align-items-center">
                                <a class="custom-link" href="#reg" data-hover="Записаться">Начать заниматься</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section-padding" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12">
                        <h2 class="text-center mb-lg-5 mb-4">О нас</h2>
                        <p style="text-align:justify"> Клуб единоборств «Путь к себе» основан в 2022 году в Санкт-Петербурге. представлено различные виды боевых искусств. По всем направлениям есть группы как для новичков, так и для опытных бойцов. ‌Работаем как для профессионалов,
                            так и для любителей. Подготовка к соревнованиям, получения разрядов, выезд в спортивные лагеря, авторские программы и методики и т.д. </p>

                        <i style="text-align:justify">Бесплатные тренировки для лиц с ограниченными возможностями.</i>
                    </div>

                    <div class="col-lg-4 col-md-5 col-12 mx-auto">
                        <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                            <img src="static/images/bigp.svg">
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="section-padding pb-0" id="section">
            <div class="container">
                <div class="row">
                    <h2 class="text-center mb-lg-5 mb-4">Секции</h2>
                    <div class="card-group">
                        <div class="card" style="width: 18rem;">
                            <img src="static/images/dz.jpg" class="card-img-top" alt="Дзюдо">
                            <div class="card-body">
                                <h5 class="card-title">Дзюдо</h5>
                                <p class="card-text" style="text-align:justify">Дзюдо́ (яп. 柔道 дзю: до:, дословно — «Мягкий путь»; в России также часто используется вариант перевода «Гибкий путь») — японское боевое искусство, философия и спортивное единоборство без оружия, созданное в конце XIX века
                                    на основе дзюдзюцу японским мастером боевых искусств Дзигоро Кано. ‌Техники дзюдо прямо влияют на скорость развития мозжечка, на формирование множества полезных рефлексов, которые будут применяться, осознанно всю жизнь.
                                    Низкая травматичность.</p>
                                <a href="#reg" class="btn btn-primary">Тренироваться</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="static/images/sambo.jpg" class="card-img-top" alt="Самбо">
                            <div class="card-body">
                                <h5 class="card-title">Самбо</h5>
                                <p class="card-text" style="text-align:justify">‌Основа спортивного самбо — дзюдо, то есть бросковая техника и болевые приемы. При этом в дзюдо запрещены болевые на ноги, а в самбо нет удушающих. Форма самбистов: шорты, специальная куртка и обувь. ‌так же как и в Дзюдо
                                    — Самооборона без оружия — вид спорта, который учит постоять за себя в любой ситуации и обезоруживать противника одним ударом. В секции малыша и старших ребят, взрослых научат основам самообороны и принципам самообладания
                                    и самосовершенствования.</p>
                                <a href="#reg" class="btn btn-primary">Тренироваться</a>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="static/images/grap.jpg" class="card-img-top" alt="Рукопашный бой">
                            <div class="card-body">
                                <h5 class="card-title">Грэпплинг</h5>
                                <p class="card-text" style="text-align:justify">Вид борьбы под названием грэпплинг совмещает в себе элементы сразу нескольких борцовских дисциплин. В нем присутствуют боевые приемы и из джиу-джитсу, и из самбо, и из дзюдо, и даже из греко-римской борьбы. Необычное название
                                    происходит от англоязычного слова «grapple», означающего «захват», и именно захваты составляют основу данного вида борьбы. В грэпплинге не применяются удары оружие, а целью поединков является досрочное их завершение
                                    с помощью или удушающего, или болевого приема.
                                </p>
                                <a href="#reg" class="btn btn-primary">Тренироваться</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="static/js/script.js"></script>

        <section class="section-padding pb-0" id="treners">
            <div class="container">
                <div class="row">
                    <h2 class="text-center mb-lg-5 mb-4">Тренеры</h2>
                    <div class="card-group">
                        <div class="card" style="width: 18rem;">
                            <img src="static/images/aii.jpeg" class="card-img-top" alt="АИИ">
                            <div class="card-body">
                                <h5 class="card-title">Авдеев Иван Иванович</h5>
                                <p class="card-text" style="text-align:justify"><br>Мастер спорта СССР по Дзюдо <br>Мастер спорта СССР по Самбо<br>•Тренер по Дзюдо, Самбо, Грэпплингу.<br> Опыт работы более 20 лет <br>Образование: <br>РГПУ им. А. И. Герцена, Санкт-Петербург
                                </p>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="static/images/aai.jpeg" class="card-img-top" alt="ААИ">
                            <div class="card-body">
                                <h5 class="card-title">Авдеев Аркадий Иванович</h5>
                                <p class="card-text" style="text-align:justify">Кандидат в мастера спорта по Дзюдо<br>•Тренер по ОФП и силовым тренировкам<br>•Персональный тренер <br>Опыт работы более 2х лет<br> Образование:<br> НГУ им. П.Ф. Лесгафта, Санкт-Петербург
                                    <p>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="static/images/alina.jpeg" class="card-img-top" alt="Алина">
                            <div class="card-body">
                                <h5 class="card-title">Авдеева Алина Ивановна</h5>
                                <p class="card-text" style="text-align:justify">Кандидат в мастера спорта по дзюдо<br> Кандидат в мастера спорта по Пауэрлифтингу<br>•Тренер по Дзюдо, Детскому фитнесу<br>•Персональный тренер<br>Опыт работы более 4х лет<br>Образование:<br>Педагогический колледж ВГАС
                                    (университет спорта) <br>
                                </p>
                            </div>
                        </div>
                        <div class="card" style="width: 18rem;">
                            <img src="static/images/shusha.jpeg" class="card-img-top" alt="ШУША">
                            <div class="card-body">
                                <h5 class="card-title">Суша Анастасия Эдуардовна</h5>
                                <p class="card-text" style="text-align:justify">Мастер спорта по художественной гимнастике<br>•Тренер по художественной гимнастике и акробатике<br>Опыт работы более 4х лет<br>Образование: <br>РГПУ им. А. И. Герцена, Санкт-Петербург
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="static/js/script.js"></script>

        <!-- <section class="section-padding pb-0" id="cost">
            <div class="container">
                <table>
                    <caption>Меню ресторана "Ромашка"</caption>
                    <tr>
                        <th rowspan="2" class="first">Кухня</th>
                        <th colspan="2">Холодные блюда</th>
                        <th colspan="2">Горячие блюда</th>
                        <th rowspan="2">Десерты</th>
                    </tr>
                    <tr>
                        <td class="first">Салаты</td>
                        <td class="first">Закуски</td>
                        <td class="first">Первые блюда</td>
                        <td class="first">Вторые блюда</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="first">Русская</td>
                        <td>Винегрет</td>
                        <td>Язык с хреном</td>
                        <td>Щи с квашеной капустой</td>
                        <td>Вареники с картошкой</td>
                        <td>Печеные яблоки с медом</td>
                    </tr>
                    <tr>
                        <td>Оливье</td>
                        <td>Студень говяжий</td>
                        <td>Рассольник домашний</td>
                        <td>Караси запеченые в сметане</td>
                        <td>Блинчатый пирог</td>
                    </tr>
                    <tr>
                        <td>Сельдь под "шубой"</td>
                        <td>Судак заливной</td>
                        <td>Мясная солянка</td>
                        <td>Котлеты "Пожарские"</td>
                        <td>Пирожное "Картошка"</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="first">Испанская</td>
                        <td>Севиче из гребешков</td>
                        <td>Эмпанадас</td>
                        <td>Хлебный суп с чесноком</td>
                        <td>Паэлья с морепродуктами</td>
                        <td>Чуррос</td>
                    </tr>
                    <tr>
                        <td>Тимбал из авокадо и тунца</td>
                        <td>Ахотомате</td>
                        <td>Астурийская фабада</td>
                        <td>Свиное раксо</td>
                        <td>Альмойшавена</td>
                    </tr>
                    <tr>
                        <td>Фасоль с ветчиной</td>
                        <td>Чанфайна</td>
                        <td>Рыбный суп с манными клецками </td>
                        <td>Тортилья картофельная</td>
                        <td>Бунуэлос</td>
                    </tr>
                    <tr>
                        <td rowspan="3" class="first">Французская</td>
                        <td>Вогезский салат</td>
                        <td>Рийет из курицы</td>
                        <td>Баклажанный крем-суп "Ренуар"</td>
                        <td>Картофель огратен</td>
                        <td>Бриоши</td>
                    </tr>
                    <tr>
                        <td>Салат "Панзанелла"</td>
                        <td>Делисьез из сыра</td>
                        <td>Французский тыквенный суп</td>
                        <td>Гратин из птицы</td>
                        <td>Лигурийский лимонный пирог</td>
                    </tr>
                    <tr>
                        <td>Тар-тар</td>
                        <td>Маринованный лосось</td>
                        <td>Суп "Конти"</td>
                        <td>Тартифлетт</td>
                        <td>Саварен "Триумф"</td>
                    </tr>
                </table>
            </div>
        </section> -->

        <section class="section-padding pb-0" id="adres">
            <div class="container">
                <div class="row">
                    <h2 class="text-center mb-lg-5 mb-4 ">Адрес</h2>
                    <h4>г. Санкт-Петербург, ул. Оптиков, д. 37, 2 этаж (м. Беговая/Старая деревня) </h4>
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.7980342127612!2d30.209647016380245!3d60.001842681899205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46963678af42688b%3A0x79102ba3d1ee5c17!2z0YPQuy4g0J7Qv9GC0LjQutC-0LIsIDM3INGB0YIgMSwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5MjEwMg!5e0!3m2!1sru!2sru!4v1655990720664!5m2!1sru!2sru"></iframe>
                </div>
            </div>
        </section>

        <section class="section-padding pb-0" id="reg">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center ">
                    <div class="center">
                        <h1>Записаться на занятия</h1>
                        <form method="post">
                            {% csrf_token %}
                            <!-- {{form.non_field.errors}} -->
                            <div class="txt_field">
                                <input type="text" name="surname" maxlength="150" required id="id_surname">
                                <span></span>
                                <label for="id_surname">Фамилия:</label> </div>
                            <div class="txt_field">
                                <input type="text" name="name" maxlength="150" required id="id_name">
                                <span></span>
                                <label for="id_name">Имя:</label> </div>
                            <div class="txt_field">
                                <script type="text/javascript">
                                    jQuery(function($) {
                                        $(".phone").mask("+7(999)999-99-99");
                                    });
                                </script>
                                <input type="text" class="phone" name="phone" maxlength="20" required id="id_phone">
                                <!-- <input type="text" name="phone" maxlength="20" required id="id_phone"> -->
                                <span></span>
                                <th><label for="id_phone">Телефон:</label></th>
                            </div>
                            <button type="submit" id='addusers'>Отправить</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="site-footer section-padding" id="contact">
        <section>
            <!-- <div class="container"> -->
            <div class="row">
                <div class="col-lg-1 col-md-6 col-12 ms-auto">
                    <img src="static/images/bigp.svg">
                </div>
                <div class="col-lg-3 col-md-6 col-12 ms-auto">
                    <h5 class="mb-lg-4 mb-3">Спортивный клуб "Путь к себе"</h5>
                    <p> 2022</p>
                </div>
                <div class="col-lg-3 col-md-6 col-12 ms-auto">
                    <h5 class="mb-lg-4 mb-3">Адрес:</h5>
                    <p> г. Санкт-Петербург, ул. Оптиков, д. 37, 2 этаж</p>
                    <h5 class="mb-lg-4 mb-3"><br>Время работы:</h5>
                    <p>08:00 - 00:00</p>
                </div>
                <div class="col-lg-3 col-md-6 col-12 ms-auto">
                    <h5 class="mb-lg-4 mb-3">Контакты</h5>
                    <p> ‌+7(994)417-48-58<br> +7(952)216-69-11</p>
                    <ul class="social-icon">
                        <li>
                            <a href="https://vk.com/skwaytoyourself" target="_blank" class="vk" width="24" height="24">
                                <img src="static/images/wk.png"></a>
                        </li>
                        <li>
                            <a href="https://t.me/primorskoejudo" target="_blank" class="social-icon-link bi-telegram"></a>
                        </li>
                        <li>
                            <a href="https://instagram.com/skpksspb/" target="_blank" class="social-icon-link bi-instagram"></a>
                        </li>
                        <!-- <li>
                            <a href="mailto:" target="_blank" class="social-icon-link bi-envelope"></a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <!-- </div> -->
        </section>
    </footer>

    <p align="center">StarTrekTeam</p>

    <!-- JAVASCRIPT FILES -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/bootstrap.bundle.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/scrollspy.min.js"></script>
    <script src="static/js/custom.js"></script>
</body>

</html>